<div class="welcome">
  <div class="info">
    <h1>Welcome to Knack</h1>
    <p>An online coding community designed for beginners.</p>
    <a class="btn btn-primary" href="<%= user_github_omniauth_authorize_path %>">Login/Signup <i class="fab fa-github-alt"></i> </a>
  </div>
</div>

